In [1]:
%load_ext nb_black
%matplotlib notebook

In [8]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.read_csv("../data/raw/heart_cleveland_upload.csv")
X_input = df.drop(columns=["condition"])
y = df["condition"]
X_input

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [9]:
CAT_FEATURES_ONE_HOT = ["sex", "cp", "restecg", "thal"]
CAT_FEATURES_LABEL = ["fbs", "exang", "slope", "ca"]

In [31]:
categorial_features = CAT_FEATURES_ONE_HOT
encoder = OneHotEncoder()
encoder.fit(X_input[categorial_features])
encoder.categories_
X_transform = pd.concat(
    (
        X_input.drop(categorial_features, axis=1),
        pd.DataFrame(
            data=encoder.transform(X_input[categorial_features]).toarray(),
            columns=encoder.get_feature_names_out(),
        ),
    ),
    axis=1,
)
X_transform

,age,trestbps,chol,fbs,thalach,exang,oldpeak,slope,ca,sex_0,...,cp_0,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2,thal_0,thal_1,thal_2
0,69,160,234,1,131,0,0.1,1,1,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,69,140,239,0,151,0,1.8,0,2,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,66,150,226,0,114,0,2.6,2,0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,65,138,282,1,174,0,1.4,1,1,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,64,110,211,0,144,1,1.8,1,0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,152,223,0,181,0,0.0,0,0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
293,39,118,219,0,140,0,1.2,1,0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
294,35,120,198,0,130,1,1.6,1,0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
295,35,138,183,0,182,0,1.4,0,0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
296,35,126,282,0,156,1,0.0,0,0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [38]:
[X_input.columns.get_loc(f) for f in categorial_features]

[1, 2, 6, 12]